body{
    margin: 0%;
    padding: 0%;
    background: url(Earth.png) no-repeat center center/cover;
    color: white;
}
/* #background{
    background: ;
} */
#box{
    display: flex;
    margin: auto;
    width: 880px;
    margin-top: 100px;
}
#container{
    display: block;
    width: 440px;
    height: 500px;
    background-color: rgb(0, 0, 0,0.1);
    justify-items: center;
    align-content: center;
    border: 1px solid white;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
}

/* right container */

#right-container{
    width: 440px;
    height: 500px;
    background-color: rgb(0, 0, 0,0.1);
     border: 1px solid white;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(5, 189, 189);
}
#right-heading{
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white;
    margin-top: 100px;
}
#right-heading p{
    line-height: 35px;
}

/* left side  */
#left-container{
    display: none;
    width: 440px;
    height: 500px;
    background-color: rgb(0, 0, 0,0.1);
     border: 1px solid white;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(5, 189, 189);
    margin-top: -100px;
}
#left-heading{
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white;
    margin-top: 100px;
}
#left-heading p{
    line-height: 35px;
}



#register{
    margin-left: 5px;
    color: black;
}
#register:hover{
    cursor: pointer;
}
#heading{
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: rgb(5, 189, 189);
}
#heading p{
    color: black;
}
form{
    display: flex;
    flex-direction: column;
}
.area{
    margin-top: 8px;
    padding-left: 10px;
    width: 300px;
    height: 35px;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    border: 1px solid gray ;
}
.bottomtext{
    font-family: "Raleway", sans-serif;
}
.checkbox{
    color: black;
}
.btnsignup ,.btnsignin{
    align-self: center;
    width: 200px;
    height: 35px;
    border: 1px solid gray ;
    border-radius:10px ;
    background-color: white;
    margin-top: 50px;
}
#login{
    align-self: center;
    width: 200px;
    height: 35px;
    border: 1px solid gray ;
    border-radius:10px ;
    background-color: rgb(5, 189, 189);
    color: white;
}
/* for signup */
#container2{
    display: none;
    width: 440px;
    height: 500px;
    background-color: rgb(0, 0, 0,0.1);
    justify-items: center;
    align-content: center;
    /* margin: 100px auto; */
    margin-top: -100px;
    border: 1px solid white;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
}
#signin .login{
    margin-left: 5px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}